---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign journal_posts = site.publications | 组件: "category", "journal" %}
{% assign journal_count = 0 %}

{% for post in site.publications %}
  {% if post.category == "journal" %}
    {% assign journal_count = journal_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if journal_count > 0 %}
  <h2>Journal Articles</h2><hr />
  {% for post in site.publications reversed %}
    {% if post.category == "journal" %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endif %}


{% assign conference_count = 0 %}

{% for post in site.publications %}
  {% if post.category == "conference" %}
    {% assign conference_count = conference_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if conference_count > 0 %}
  <h2>Conference Proceedings</h2><hr />
  {% for post in site.publications reversed %}
    {% if post.category == "conference" %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if journal_count == 0 and conference_count == 0 %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}